<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Beautiful Responsive Animated OnePage Template" />
<meta name="keywords" content="Zerif, responsive, html, template, creative"/>
<meta name="author" content="Mizanur Rahman" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CryptoVestFS</title>

<!-- =========================
 FAV AND TOUCH ICONS
============================== -->
<link rel="shortcut icon" href="/static/home/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="/static/home/images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/home/images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/home/images/icons/apple-touch-icon-114x114.png">

<!-- =========================
     STYLESHEETS
============================== -->
<link rel="stylesheet" href="/static/home/css//bootstrap.min.css">
<link rel="stylesheet" href="/static/home/css//owl.theme.css">
<link rel="stylesheet" href="/static/home/css//owl.carousel.css">
<link rel="stylesheet" href="/static/home/css//jquery.vegas.min.css">
<link rel="stylesheet" href="/static/home/css//animate.min.css">

<link rel="stylesheet" href="/static/home/assets//icon-fonts/styles.css">
<link rel="stylesheet" href="/static/home/css//pixeden-icons.css">

<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="/static/home/css//styles.css">
<link rel="stylesheet" href="/static/home/css//responsive.css">
	    <link href="/static/home/css/1.css" rel="stylesheet"/>

    <link href="/static/home/css/2.css" rel="stylesheet"/>





<!-- WEBFONT -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
			<script src="/static/home/js//html5shiv.js"></script>
			<script src="/static/home/js//respond.min.js"></script>
		<![endif]-->

<!-- JQUERY -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


<body>
<!-- =========================
   PRE LOADER
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>
<!-- =========================
   HOME SECTION
============================== -->
<header id="header_nav" class="header">

	<!-- TOP BAR -->
	<div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header responsive-logo">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
				<img src="http://puu.sh/jcxxY/2908d864bf.png" alt="Zerif">
				</div>
			</div>
        <nav id="primary-menu">

                <ul>

                <li class="">
                    <a href='#services' title='Solutions' data-click="scroll-to-target" >Solutions</a>
        <ul style="display: none;">
                <li class=""><a href='#services' title='Brokers'  >Brokers</a></li>
                <li class=""><a href='#services' title='Consumers'  >Consumers</a></li>
                <li class=""><a href='#services' title='Corporate'  >Corporate</a></li>
        </ul>
                </li>

                <li class="">
                    <a href='/sectors/' title='Sectors'  >Community</a>
        <ul style="display: none;">

        </ul>
                </li>

                <li class="">
                    <a href='/why-us/' title='Why Us'  >Why Us</a>
        <ul style="display: none;">
                <li class=""><a href='#' title='Our Story'  >Our Story</a></li>
                <li class=""><a href='#' title='Meet The Team'  >Meet The Team</a></li>
                <li class=""><a href='#' title="Crowdfunding"  >Crowdfunding</a></li>
        </ul>
                </li>

                <li class="">
                    <a href='#footer' title='Contact'  >Contact</a>
                </li>

            <li>
                <a href="/login"><div class="navbutton button-turq"><i class="icon-user"></i> Log in</div></a>
            </li>


    </ul>





</nav>
		</div>
	</div>
	<!-- / END TOP BAR -->

	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
{#	<div class="container">#}
{##}
{#		<!-- HEADING -->#}
{#		<h1 class="intro">CVFS LIQIDITY PLATFORM</h1>#}
{#		<p>&nbsp;</p>#}
{#		<p style="color:white;font-size:20px;">We are currently developing a P2P liquidity platform. This proprietary platform will be extremely versatile, highly resilient and scalable. With the aim of connecting our users and brokers together seamlessly giving you the power and flexibility to integrate the blockchain into your business with confidence.</p>#}
{##}
{#		<!-- CALL TO ACTION BUTTONS -->#}
{#		<div class="buttons inpage-scroll">#}
{#			<a href="/login" class="btn btn-primary custom-button green-btn">Join Now!</a>#}
{#		</div>#}
{##}
{#		<!-- 3 SHORT MESSAGE ABOUT COMPANY -->#}
{#        <div class="row bottom-message-section">#}
{#			<div class="col-lg-4 col-sm-4">#}
{#				<div class="short-text">#}
{#					<i class="icon icon-fontawesome-webfont-358"></i> Innovative liquidity solutions#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-lg-4 col-sm-4">#}
{#				<div class="short-text">#}
{#					<i class="icon-fontawesome-webfont-286"></i> Rapid pace transactions#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-lg-4 col-sm-4">#}
{#				<div class="short-text">#}
{#					<i class="icon-fontawesome-webfont-347"></i> Satisfaction guranteed#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->#}



<section id="slider" class="slider-parallax home-slider" style="" data-height-lg="650" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
    <div class="container clearfix">
        <div class="vertical-middle dark">
            <div class="heading-block nobottommargin">
                <h1>Navigate the blockchain</h1>
                <span></span>
            </div>

            <div class="button-wrapper">
                <a href="#services" title="Solutions" class="button button-rounded button-reveal button-xlarge button-red tright h-banner-btn"><i class="icon-angle-down"></i><span>Find out more</span></a>
            </div>
        </div>
    </div>


</section>

<section id="content">


<div class="content-wrap center" style="background: #272727;color:white;">
        <div class="container clearfix">
            <div class="heading-block nomargin">
                <h2 style=";color:white;">Find your way with Cryptovest</h2>
                <span style=";color:white;">
                    We have been at the forefront of the blockchain revolution since 2013, developing solutions that enable you to improve your infrastructure, increase retention and create new income streams.


                </span>
            </div>
        </div>
    </div>
	</section>




</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION
============================== -->






<!-- =========================
   xxx
============================== -->




<section id="services">
<div class="section nomargin home-cta-wrapper">
    <div class="container clearfix">
        <div class="row portfolio-responsive">
<div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image"><img class="image_fade" src="/static/home/images/broker.jpg" alt="" style="opacity: 1; visibility: visible; display: block;"></div>
                                <div><div class="portfolio-overlay">
									 <h3><span class="subtitle">Registered brokers for a trustless enviroment</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="#" title="Brokers" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3 style="color:white;">Brokers</h3>
                        </div>
                    </div>




<div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image"><img class="image_fade" src="/static/home/images/consumer.jpg" alt="" style="opacity: 1; visibility: visible; display: block;"></div>
                                <div><div class="portfolio-overlay">
									 <h3><span class="subtitle">The smarter way for your customers to pay</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="#" title="consumers" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3 style="color:white;">Consumers</h3>
                        </div>
                    </div>



<div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image"><img class="image_fade" src="/static/home/images/corp.jpg" alt="" style="opacity: 1; visibility: visible; display: block;"></div>
                                <div><div class="portfolio-overlay">
									 <h3><span class="subtitle">Adaptable solutions to suit your business needs</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="#" title="corporations" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3 style="color:white;">Corporations</h3>
                        </div>
                    </div>



        </div>
    </div>
</div>
	</div>

</section>

    <div class="content-wrap center" style="background: #272727;color:white;">
        <div class="container clearfix">
            <div class="nomargin heading-block">
                <h2 style="color:white;">Building smarter liquidity solutions</h2>
                <span style="color:white;">
                    We provide solutions to experienced and new entrants in the blockchain space. Our goal is to create a solution, regardless of your situation : be it diversification in your crypto-currency portfolio, remittance of money, generation of liquidity for your business or wealth management by professionals
                </span>
            </div>
        </div>
    </div>






<!-- =========================
   xxx
============================== -->


<div class="row clearfix common-height">
    <div class="col-md-6 center col-padding" style="height: 485px; background: url(http://127.0.0.1:5000/static/home/images/chart.jpg) 50% 50% / cover no-repeat;">
        <div>&nbsp;</div>
    </div>
    <div class="col-md-6 col-padding" style="height: 485px;background: #272727;color:white;">
        <div class="promo-text-wrapper">
            <div class="heading-block nobottomborder">
                <h3 style="color:white;"><a href="#" title="CVFS LIQUIDITY PLATFORM" style="color:white;">CVFS<sup>®</sup> LIQUIDITY PLATFORM</a></h3>
            </div>
            <p class="lead nobottommargin">
                </p><p style="color:white;">We are currently developing a P2P liquidity platform. This proprietary platform will be extremely versatile, highly resilient and scalable. With the aim of connecting consumers together with brokers seamlessly and giving you the power and flexibility to integrate the blockchain into your business with confidence.
</p>
            <p></p>
            <a href="#" title="eccount platform" class="button button-rounded button-reveal button-large button-red topmargin hidden-xs tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
        </div>
    </div>
</div>



<!-- =========================
   STATS
============================== -->
<section class="stats">
	<div class="container">
	    <!-- STATS -->
	    <div class="row">

	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	                <div class="icon-top red-text">
	                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text red-border-bottom">7</h3>
	                <h6>Brokers </h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->

	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.75s" data-wow-delay="0.30s">
	                <div class="icon-top green-text">
	                    <i class="icon-man-people-streamline-user"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text green-border-bottom">62</h3>
	                <h6>Users </h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->

	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.45s">
	                <div class="icon-top blue-text">
	                    <i class="icon-fontawesome-webfont-85"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text blue-border-bottom">3,541,625</h3>
	                <h6>Liquidity provided</h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->

	        <!-- START COLUMN -->
	        <div class="col-lg-3 col-sm-3">
	            <div class="stat wow fadeInUp animated" data-wow-offset="30" data-wow-duration="2.25s" data-wow-delay="1s">
	                <div class="icon-top yellow-text">
	                    <i class="icon-picture-streamline-1"></i>
	                </div>
	                <div class="stat-text">
	                <h3 class="white-text yellow-border-bottom">7</h3>
	                <h6>Affiliate services </h6>
	                </div>
	            </div>
	        </div> <!-- / END COLUMN -->
	    </div>
</div>
</section>  <!-- / END STATS -->

<!-- =========================
   FOOTER
============================== -->

<footer>
<div class="container">

	<!-- COMPANY ADDRESS-->
	<div class="col-md-5 company-details">
		<div class="icon-top red-text">
		    <i class="icon-fontawesome-webfont-302"></i>
		</div>
		33 Turnley Road, Derbyshire De55 2FB, London
	</div>

	<!-- COMPANY EMAIL-->
	<div class="col-md-2 company-details">
		<div class="icon-top green-text">
		<i class="icon-fontawesome-webfont-329"></i>
		</div>
		 info@cryptovestfs.com
	</div>

	<!-- COMPANY PHONE NUMBER -->
	<div class="col-md-2 company-details">
		<div class="icon-top blue-text">
		<i class="icon-fontawesome-webfont-101"></i>
		</div>
		+44(0)7963517697
	</div>

	<!-- SOCIAL ICON AND COPYRIGHT -->
	<div class="col-lg-3 col-sm-3 copyright">
		<ul class="social">
			<li><a href=""><i class="icon-facebook"></i></a></li>
			<li><a href=""><i class="icon-twitter-alt"></i></a></li>
			<li><a href=""><i class="icon-linkedin"></i></a></li>
			<li><a href=""><i class="icon-behance"></i></a></li>
			<li><a href=""><i class="icon-dribbble"></i></a></li>
		</ul>
		 ©2015 CryptoVest FS
	</div>
</div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->

<!-- SCRIPTS -->





    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="/static/home/js/jqui.js"></script>

    <script src="/static/home/js/hs1.js"></script>

    <script src="/static/home/js/jqv.js"></script>

    <script src="/static/home/js/site.js"></script>



<script src="/static/home/js//bootstrap.min.js"></script>
<script src="/static/home/js//wow.min.js"></script>
<script src="/static/home/js//jquery.nav.js"></script>
<script src="/static/home/js//jquery.knob.js"></script>
<script src="/static/home/js//owl.carousel.min.js"></script>
<script src="/static/home/js//smoothscroll.js"></script>
<script src="/static/home/js//jquery.vegas.min.js"></script>
<script src="/static/home/js//zerif.js"></script>

<script>$(window).on("scroll touchmove", function () {
  $('#header_nav').toggleClass('tiny', $(document).scrollTop() > 0);
});</script>


    <script>	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});</script>

</body>
</html>