

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi">
    


    <title>

    CryptoVest FS
</title>
    
        <meta name="description" content="Since 2006, Tuxedo Money Solutions have been at the forefront of the e-money revolution, developing smart solutions that enable clients to raise their brand awareness, increase retention and create new income streams. That&#39;s why worldwide brands have chosen us as their payment partner. We can create payment solutions in ways other providers probably won&#39;t have thought of." />

    <meta name="keywords" content="prepaid cards, payment, technology, financial services, travel cards" />

    
        <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
        <meta property="og:description" content="Since 2006, CryptoVestFS Money Solutions have been at the forefront of the e-money revolution, developing smart solutions that enable clients to raise their brand awareness, increase retention and create new income streams. That&#39;s why worldwide brands have chosen us as their payment partner. We can create payment solutions in ways other providers probably won&#39;t have thought of." />


    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/android-chrome-manifest.json">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />


    <link href="/static/home/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/static/home/css/1.css" rel="stylesheet"/>

    <link href="/static/home/css/2.css" rel="stylesheet"/>


    

    <script type="text/javascript">(function (r) { _ready = { q: function () { return r } }; $ = function (f) { if (typeof f === "function") { r.push(arguments) } return $ }; jQuery = $.ready = $ }([]));</script>

    
    

<script>   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');    ga('create', 'UA-21473486-1', 'auto');   ga('send', 'pageview');  </script>
    
        <link rel="canonical" href="/" />



    

    <!--[if lt IE 9]>
        <script src="/static/home/js/polyfills/modernizr.js"></script>
        <script src="/static/home/js/polyfills/html5shiv.min.js"></script>
        <script src="/static/home/js/polyfills/selectivizr-min.js"></script>
        <script src="/static/home/js/polyfills/respond.min.js"></script>
    <![endif]-->
</head>

<!--[if lt IE 9]> <body class="lt-ie9 stretched"> <![endif]-->
<!--[if IE 9]> <body class="ie9 stretched"> <![endif]-->
<!--[if gt IE 9]><!-->
<body class="stretched no-transition">
    <!--<![endif]-->

    <a class="skip_to_content visuallyhidden" href="#content">Skip to main content</a>

    <div id="wrapper" class="clearfix">

        <header id="header" class="full-header">
            


<div id="header-wrap">

    <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo" itemtype="http://schema.org/Organization" itemscope="">
            <a href="/" class="standard-logo"><img src="/images/logo-new.png" alt="" itemprop="logo"></a>
            <a href="/" class="retina-logo"><img src="/images/logo-new@2x.png" alt="" itemprop="logo"></a>
        </div>

        <nav id="primary-menu">

                <ul>

                <li class="">
                    <a href='/solutions/' title='Solutions'  >Solutions</a>
        <ul style="display: none;">
                <li class=""><a href='/solutions/consumer/' title='Consumer'  >Consumer</a></li>
                <li class=""><a href='/solutions/corporate/' title='Corporate'  >Corporate</a></li>
                <li class=""><a href='/solutions/technology/' title='Technology'  >Technology</a></li>
        </ul>
                </li>

                <li class="">
                    <a href='/sectors/' title='Sectors'  >Community</a>
        <ul style="display: none;">

        </ul>
                </li>

                <li class="">
                    <a href='/why-us/' title='Why Us'  >Why Us</a>
        <ul style="display: none;">
                <li class=""><a href='/why-us/our-story/' title='Our Story'  >Our Story</a></li>
                <li class=""><a href='/why-us/global-presence/' title='Global Presence'  >Global Presence</a></li>
                <li class=""><a href='/why-us/credentials/' title='Credentials'  >Credentials</a></li>
                <li class=""><a href='/why-us/meet-the-team/' title='Meet The Team'  >Meet The Team</a></li>
        </ul>
                </li>

                <li class="">
                    <a href='/contact/' title='Contact'  >Contact</a>
                </li>

            <li>
                <a href="/login/"><div class="navbutton button-turq"><i class="icon-user"></i> Log in</div></a>
            </li>


    </ul>


            <div id="top-search">
                <a href="#" id="top-search-trigger">
                    <div class="navbutton button-turq">
                        <i class="icon-search3"></i>
                        <i class="icon-line-cross"></i>
                    </div>
                </a>

                <form action="/search/" method="get">
                    <label>Type &amp; Hit Enter:</label>
                    <input type="text" name="search" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                </form>
            </div>
        </nav>
    </div>
</div>



        </header>

        




    <style type="text/css">


                .slider-parallax.home-slider{

                background-size:cover !important;

                background-position: left 0 !important;


                }

    </style>
<section id="slider" class="slider-parallax home-slider" style="background: url('/CropUp/2000x1000/media/23938/supercard-header.jpg') no-repeat;" data-height-lg="650" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
    <div class="container clearfix">
        <div class="vertical-middle dark">
            <div class="heading-block nobottommargin">
                <h1>Navigate the blockchain</h1>
                <span></span>
            </div>

            <div class="button-wrapper">
                <a href="/solutions/" title="Solutions" class="button button-rounded button-reveal button-xlarge button-red tright h-banner-btn"><i class="icon-angle-down"></i><span>Find out more</span></a>
            </div>
        </div>
    </div>
    <div class="mouse hidden-xs"></div>
</section>


<section id="content">

    <div class="content-wrap center">
        <div class="container clearfix">
            <div class="heading-block nomargin">
                <h2>Find your way with Cryptovest</h2>
                <span>
                    We have been at the forefront of the blockchain revolution since 2013, developing solutions that enable you to improve your infrastructure, increase retention and create new income streams.


                </span>
            </div>
        </div>
    </div>

    


<div class="section nomargin home-cta-wrapper">
    <div class="container clearfix">
        <div class="row portfolio-responsive">

                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><img class="image_fade" src="/CropUp/600x400/media/23774/consumer.jpg" alt="" style="opacity: 1;"></div>
                                <div class="portfolio-overlay">
                                    <h3><span class="subtitle">The smarter way for your customers to pay</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="/solutions/consumer/" title="Consumer Solutions" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Consumer </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><img class="image_fade" src="/CropUp/600x400/media/23775/corporate.jpg" alt="" style="opacity: 1;"></div>
                                <div class="portfolio-overlay">
                                    <h3><span class="subtitle">Adaptable solutions to suit your business needs</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="/solutions/corporate/" title="Corporate Solutions" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Corporate </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><img class="image_fade" src="/CropUp/600x400/media/23722/travel.jpg" alt="" style="opacity: 1;"></div>
                                <div class="portfolio-overlay">
                                    <h3><span class="subtitle">A safer way to carry currency abroad</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="/sectors/travel/" title="Travel" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Travel</h3>
                        </div>
                    </div>
        </div>
    </div>
</div>
    
<div class="content-wrap center notoppadding">
    <div class="section section-white nomargin footer-stick">
        <div class="heading-block">
            <h2>OUR CLIENTS</h2>
            <span>
                
            </span>
        </div>
        <div id="oc-clients-full" class="owl-carousel owl-carousel-full image-carousel">

                        <div class="oc-item">
                            <a href="/our-partners/clients/the-aa/" title="The AA">

<img src='/CropUp/320x240/media/23591/aa.jpg' alt='Aa'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/sta-travel/" title="STA Travel">

<img src='/CropUp/320x240/media/23595/sta-travel.jpg' alt='Sta Travel'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/tesco/" title="Tesco">

<img src='/CropUp/320x240/media/23596/tesco.jpg' alt='Tesco'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/endsleigh-insurance/" title="Endsleigh Insurance">

<img src='/CropUp/320x240/media/23592/endsleigh.jpg' alt='Endsleigh'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/mtv/" title="MTV">

<img src='/CropUp/320x240/media/23593/mtv.jpg' alt='Mtv'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/hertz/" title="Hertz">

<img src='/CropUp/320x240/media/23895/hertz.jpg' alt='Hertz'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/travelex/" title="Travelex">

<img src='/CropUp/320x240/media/23896/travelex.jpg' alt='Travelex'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/valour-money/" title="Valour Money">

<img src='/CropUp/320x240/media/23597/valour.jpg' alt='Valour'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/provident/" title="Provident">

<img src='/CropUp/320x240/media/23594/provident.jpg' alt='Provident'  />                            </a>
                        </div>
                        <div class="oc-item">
                            <a href="/our-partners/clients/isic/" title="ISIC">

<img src='/CropUp/320x240/media/23803/isic.jpg' alt='Isic'  />                            </a>
                        </div>
        </div>
    </div>
</div>
    <div class="content-wrap center">
        <div class="container clearfix">
            <div class="nomargin heading-block">
                <h2>Building smarter solutions for your business</h2>
                <span>
                    We provide versatility as standard. We don&#39;t just offer one payment solution, we offer many. Our aim is to work with you to create a solution that is right for your business, whether that is to integrate an existing prepaid card solution, build a white label programme or license our platform. 
                </span>
            </div>
        </div>
    </div>

    


<div class="row clearfix common-height counters-wrapper">

                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 326px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="207" data-refresh-interval="50" data-speed="2532">207</span></div>
                        <h5>Territories worldwide</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 326px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-speech"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="14" data-refresh-interval="50" data-speed="2532">14</span></div>
                        <h5>Languages spoken</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 326px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-wallet"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="50" data-refresh-interval="50" data-speed="2532">50</span></div>
                        <h5>Affinity programmes</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 326px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-credit-card"></i>
                        <div class="counter counter-lined"><span data-from="500000" data-to="1000000000" data-refresh-interval="50" data-speed="2532">1000000000</span></div>
                        <h5>Total card loads (&#163;)</h5>
                    </div>
                </div>
</div>

    


<div class="row clearfix common-height">
    <div class="col-md-6 center col-padding" style="height: 728px; background: url(/CropUp/-x728/media/23736/shutterstock_156997538-eccount.jpg) 50% 50% no-repeat; background-size: cover;">
        <div>&nbsp;</div>
    </div>
    <div class="col-md-6 col-padding" style="height: 728px; background-color: rgb(245, 245, 245);">
        <div class="promo-text-wrapper">
            <div class="heading-block nobottomborder">
                <h3><a href="/solutions/technology/" title="eccount platform">eccount<sup>®</sup> platform</a></h3>
            </div>
            <p class="lead nobottommargin">
                <p>Central to our solutions is our market leading payment platform. This proprietary platform, the eccount<sup><span>®</span></sup> is extremely versatile, highly resilient and scalable. The eccount<sup>®</sup> platform can integrate easily and seamlessly with your existing systems and, being a modular solution, you can tailor the functionality you require to meet your needs.</p>
            </p>
            <a href="/solutions/technology/" title="eccount platform" class="button button-rounded button-reveal button-large button-red topmargin hidden-xs tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
        </div>
    </div>
</div>

    







    
</section>

        <footer id="footer">
            <div id="copyrights">
    <div class="container clearfix">
        <div class="col-md-9">
            <div class="copyright-links">

                    <p> Tuxedo Money Solutions, Lakewood, Chester Business Park, Chester. CH4 9HF. </p>

                &copy; 2014 Tuxedo Money Solutions Ltd  /

                
                <a href="/sitemap/" title="Sitemap" >Sitemap</a>
                    /
                <a href="/careers/" title="Careers" >Careers</a>
                    /
                <a href="/privacy-policy/" title="Privacy Policy" >Privacy Policy</a>
                    /
                <a href="/cookies/" title="Cookies" >Cookies</a>
                    /
                <a href="/faqs/" title="FAQs" >FAQs</a>


                
            </div>
        </div>

            <div class="col-md-3 col_last tright">
                <div class="fright clearfix">

                    <a rel="nofollow" href="https://uk.linkedin.com/company/tuxedo-money-solutions" class="" target="_blank" title="Tuxedo Money Solutions LinkedIn"><img alt="linkedIn" src="/images/linkedin.png" /> </a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
</div>
        </footer>
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>

    


    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="/static/home/js/jqui.js"></script>

    <script src="/static/home/js/hs1.js"></script>

    <script src="/static/home/js/jqv.js"></script>

    <script src="/static/home/js/site.js"></script>








    

    

</body>
</html>