<section id="services">
<div class="section nomargin home-cta-wrapper">
    <div class="container clearfix">
        <div class="row portfolio-responsive">
                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><div class="portfolio-overlay">
                                    <div class="clearfix"></div>
                                    <a href="#" title="Brokers" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Brokers</h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><img class="image_fade" src="/static/home/images/consumer.jpg" alt="" style="opacity: 1; visibility: visible; display: block;"></div>
                                <div class="portfolio-overlay">
                                    <h3><span class="subtitle">The smarter way for your customers to pay</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="#" title="Consumer Solutions" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Consumer </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="portfolio-item">
                            <div class="portfolio-image">
                                <div><img class="image_fade" src="/static/home/images/corp.jpg" alt="" style="opacity: 1; visibility: visible; display: block;"></div>
                                <div class="portfolio-overlay">
                                    <h3><span class="subtitle">Adaptable solutions to suit your business needs</span></h3>
                                    <div class="clearfix"></div>
                                    <a href="#" title="Corporate Solutions" class="button button-rounded button-reveal button-large button-red tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-title">
                            <h3>Corporate </h3>
                        </div>
                    </div>

        </div>
    </div>
</div>


    <div class="content-wrap center">
        <div class="container clearfix">
            <div class="nomargin heading-block">
                <h2>Building smarter solutions for your business</h2>
                <span>
                    We provide versatility as standard. We don't just offer one payment solution, we offer many. Our aim is to work with you to create a solution that is right for your business, whether that is to integrate an existing prepaid card solution, build a white label programme or license our platform.
                </span>
            </div>
        </div>
    </div>




<div class="row clearfix common-height counters-wrapper">

                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 322px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="207" data-refresh-interval="50" data-speed="2532">207</span></div>
                        <h5>Brokers in use</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 322px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-speech"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="14" data-refresh-interval="50" data-speed="2532">14</span></div>
                        <h5>Platform Users</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 322px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-wallet"></i>
                        <div class="counter counter-lined"><span data-from="1" data-to="50" data-refresh-interval="50" data-speed="2532">50</span></div>
                        <h5>Affiliate Services</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 dark center col-padding single-counter" style="height: 322px;">
                    <div>
                        <i class="i-plain i-xlarge divcenter icon-line2-credit-card"></i>
                        <div class="counter counter-lined"><span data-from="500000" data-to="1000000000" data-refresh-interval="50" data-speed="2532">1000000000</span></div>
                        <h5>Liquidity Provided ($)</h5>
                    </div>
                </div>
</div>




<div class="row clearfix common-height">
    <div class="col-md-6 center col-padding" style="height: 485px; background: url(http://127.0.0.1:5000/static/home/images/chart.jpg) 50% 50% / cover no-repeat;">
        <div>&nbsp;</div>
    </div>
    <div class="col-md-6 col-padding" style="height: 485px; background-color: rgb(245, 245, 245);">
        <div class="promo-text-wrapper">
            <div class="heading-block nobottomborder">
                <h3><a href="#" title="CVFS LIQUIDITY PLATFORM">CVFS<sup>®</sup> LIQUIDITY PLATFORM</a></h3>
            </div>
            <p class="lead nobottommargin">
                </p><p>We are currently developing a P2P liquidity platform. This proprietary platform will be extremely versatile, highly resilient and scalable. With the aim of connecting consumers together with brokers seamlessly and giving you the power and flexibility to integrate the blockchain into your business with confidence.
</p>
            <p></p>
            <a href="#" title="eccount platform" class="button button-rounded button-reveal button-large button-red topmargin hidden-xs tright"><i class="icon-angle-right"></i><span>Learn More</span></a>
        </div>
    </div>
</div>










</section>


















   <footer id="footer">
            <div id="copyrights">
    <div class="container clearfix">
        <div class="col-md-9">
            <div class="copyright-links">

                    <p> CrytpoVestFS 33 Turnley Road, Derbyshire De55 2FB</p>
                <p>+44(0)7963517697 </p>
 <mailto>info@cryptovestfs.com</mailto>
 <p>Skype: Cryptovest</p>


                &copy; 2015 CVFS /




                <a href="/sitemap/" title="Sitemap" >Sitemap</a>
                    /
                <a href="/privacy-policy/" title="Privacy Policy" >Privacy Policy</a>
<div class="row">
<div class="col-md-9"> If you want to meet our team in person, please book an appointment by email.
We are based at the following address:
116 Pall Mall
London
SW1Y 5ED
</div>